################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tulpagotchi/v15/Server/sqlite3/storage.ide-wal
/.vs/Tulpagotchi/v15/Server/sqlite3/storage.ide-shm
/.vs/Tulpagotchi/v15/Server/sqlite3/storage.ide
/.vs/Tulpagotchi/v15/Server/sqlite3/db.lock
/.vs/Tulpagotchi/v15/Server/sqlite3
/.vs/Tulpagotchi/v15/.suo
